/* nav part */
nav img{ width: 20%;}

section img{ width: 20%;}

li{list-style-type: none;}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}



/* welcome part */
.welcomePart{
    background: url("../images/fond_home_page&.jpg");
    padding: 3%;
}
.logogo {
    width: 13%;
}
.flexUnPeu {display: flex;}
.boites {
    width: 70%;
    text-align: justify;
}
h1 {font-size: 309%; color: white;}
.welcomePart h2{font-size: 300; color: white;}
h2 {font-size: 400%;}
.titreMoyen{}

/* footer */
.footerPTOne{}
.massageType, .aboutUs{}
.formulaire{}