/* nav part */
nav img{ width: 20%;}

section img{ width: 20%;}

li{list-style-type: none;}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}



/* welcome part */
.welcomePart{
    background: url("../images/fond_home_page&.jpg");
}

.welCome{
    padding-top: 10%;
    padding-bottom: 10%;
    margin-left: 10%;
}
.logogo {
    width: 13%;
}
.flexUnPeu {display: flex;}
.boites {
    width: 70%;
    text-align: left;
    margin: 10%;
}
h1 {font-size: 309%; color: white;}
.welcomePart h2{font-size: 300; color: white;}
h2 {font-size: 400%;}
.titreMoyen{}

/* partie Our Service */
.ourServicePart{
    text-align: center;
}
.topCard{
    display: flex;
    gap: 3%;
    justify-content: space-evenly;
}
.carteOne{
    background: url(../images/services/massage12.jpg);
    display: grid;
    align-items: flex-end;
}
.carteTwo{
    background: url(../images/services/massage32.jpg);
    display: grid;
    align-items: flex-end;
}
.carteThree{
    background: url(../images/services/massage33.jpg);
    display: grid;
    align-items: flex-end;
}
.Card{
    background-size: cover;
    width: 20%;
    padding: 3%;
}
.titreCarte{
    position: absolute;
}
.paraGraphe{
    color: transparent;
}

.Card:hover .titreCarte{
    transform: translateY(-100px);
    transition: 1s;
}
.Card:hover .paraGraphe{
    color: black;
}

/* why to choose our salon */
.wtcu {
    gap: 3%;
    align-items: center;
    justify-content: space-around;
}
.flexUnPeu .titreMoyen{
    /* margin-left: 10%; */
}

/* footer */
.footerPTOne{}
.massageType, .aboutUs{}
.formulaire{}